<div class="containerBox" style="height: 100%;margin-top: -2%;">
    <div class="bgimg-1">
        <div color="warn" class="caption" style="display: flex;justify-content: center;">
            <mat-card>ABOUT NEWS APP</mat-card>
        </div>
    </div>

    <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;">NEWS WEBSITE</h3>
        <p style="text-align: center;">
            This responsive website is devoted to deliver top headlines from different countries of different categories
            like <b>Business, Entertainment, Health, Science, Sports</b> and <b>Technology</b>
        </p>
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #ffffff;">
                <b>LANGUAGES USED</b>
            </span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p style="text-align: center;">HTML, CSS, Typescript</p>
        </div>
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"><b>TECHNOLOGIES
                    USED</b></span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p style="text-align: center;">Angular v13.1, RxJS, Angular Material, Angular Routing, Angular Services,
                Bootstrap
                v5.1.3</p>
        </div>
    </div>

    <div class="bgimg-4">
        <div class="caption" style="text-align: center;">
            <span class="border">RESOURCES &gt; newsapi.org</span>
        </div>
    </div>

    <div style="position:relative;display: flex;background-color:#fefefefe;justify-content: center;align-items: center;height: 140px;">
        <div style="text-align:center">
            <a href="https://www.linkedin.com/in/souvikghosh1357" target="_blank">
                <img style="width: 50px;" src="https://img.icons8.com/material-rounded/48/000000/linkedin--v2.png"/>
            </a>
            <p style="color: #0a66c2;">LINKEDIN</p>
        </div>
        <div style="width: 10%;"></div>
        <div style="text-align:center;">
            <a href="https://github.com/SouvikGi" target="_blank">
                <img style="width: 50px;" src="https://img.icons8.com/color/96/000000/github--v3.png"/>
            </a>
            <p style="color: black;">GIT<b>HUB</b></p>
        </div>
    </div>
    <div style="position:relative;display: flex;background-color:#fefefefe;justify-content: center;align-items: center;">
        <p style="color: black;font-size: small;"><img style="width: 15px;" src="./assets/fabicon.png" /> &copy; 2021 NewsApp SOUVIK GHOSH</p>
    </div>
</div>